section.tableTrans{
  margin: 5px;
  width: auto;
  height: 460px;
  border-radius: 8px;
  overflow-x:auto;
  background: #171520;
}

section::-webkit-scrollbar {
  display: none;
}

table {
  margin: 25px;
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: relative;
  color: #FEFCFF;
}

th, td {
  padding: 5px;
}

thead{
  position: sticky;
  top: 0;
  background: #1c1a27;
}

tbody tr:nth-child(odd) {
  background-color: #1b1925;
}

tbody tr:nth-child(even) {
  background-color: #171520;;
}

tbody{
  height: 200px;
  overflow-y:scroll
}

.tableTrans h1{
  color: #FEFCFF;
  margin-left: 30px;
  margin-top: 35px;
}